[Unit]
Description=iot-local
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/home/vibioh/.env
ExecStart=/home/vibioh/code/bin/iot -mqttClientID iot-local -mqttServer ${IOT_MQTT_SERVER} -mqttPort ${IOT_MQTT_PORT} -mqttUser ${IOT_MQTT_USER} -mqttPass ${IOT_MQTT_PASS} -tls=false -authDisable -port 80 -assetsDirectory /home/vibioh/code/src/github.com/ViBiOh/iot/ -csp "default-src 'self'; base-uri 'self'; script-src 'unsafe-inline'; style-src 'unsafe-inline'" -dysonEmail ${DYSON_EMAIL} -dysonPassword ${DYSON_PASSWORD}
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
