{{ define "seo" }}
  {{ $description := "Manage your Hue installation easily from your browser" }}

  <title>{{ .Title }}</title>
  <meta name="description" content="{{ $description }}">
  <meta property="og:title" content="{{ .Title }}"/>
  <meta property="og:description" content="{{ $description }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ publicURL "" }}"/>
  <meta property="og:image" content="{{ publicURL "/images/favicon/android-chrome-512x512.png" }}"/>
  <meta property="og:image:height" content="512"/>
  <meta property="og:image:width" content="512"/>
{{ end }}

{{ define "favicon" }}
  <link rel="apple-touch-icon" sizes="180x180"
      href="{{ url "/images/favicon/apple-touch-icon.png" }}?v={{ .Version }}">
  <link rel="icon" type="image/png" sizes="32x32"
      href="{{ url "/images/favicon/favicon-32x32.png" }}?v={{ .Version }}">
  <link rel="icon" type="image/png" sizes="16x16"
      href="{{ url "/images/favicon/favicon-16x16.png" }}?v={{ .Version }}">
  <link rel="manifest" href="{{ url "/images/favicon/manifest.json" }}?v={{ .Version }}">
  <link rel="mask-icon" href="{{ url "/images/favicon/safari-pinned-tab.svg" }}?v={{ .Version }}" color="#5bbad5">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
{{ end}}

{{ define "modal-schedule" }}
  <div id="schedule-modal-{{ .ID }}" class="modal schedule-modal">
    <div class="modal-content">
      <h2 class="header">Update schedule</h2>

      <form method="post" action="{{ url "" }}/api/schedules/{{ .ID }}">
        <input type="hidden" name="method" value="PUT" />

        <p class="padding no-margin">
          <label for="days-{{ .ID }}" class="block">Days</label>
          <select id="days-{{ .ID }}" name="days" multiple class="full">
            <option value="{{ monday }}" {{ if .HasDay monday }}selected{{ end }}>Monday</option>
            <option value="{{ tuesday }}" {{ if .HasDay tuesday }}selected{{ end }}>Tuesday</option>
            <option value="{{ wednesday }}" {{ if .HasDay wednesday }}selected{{ end }}>Wednesday</option>
            <option value="{{ thursday }}" {{ if .HasDay thursday }}selected{{ end }}>Thursday</option>
            <option value="{{ friday }}" {{ if .HasDay friday }}selected{{ end }}>Friday</option>
            <option value="{{ saturday }}" {{ if .HasDay saturday }}selected{{ end }}>Saturday</option>
            <option value="{{ sunday }}" {{ if .HasDay sunday }}selected{{ end }}>Sunday</option>
          </select>
        </p>

        <p class="padding no-margin">
          <label for="time-{{ .ID }}" class="block">Time</label>
          <input id="time-{{ .ID }}" name="time" type="time" value="{{ .ScheduleTime }}" class="full" />
        </p>

        <p class="padding no-margin center">
          <a href="#" class="button white">Cancel</a>
          <button type="submit" class="button bg-primary">Update</button>
        </p>
      </form>
    </div>
  </div>
{{ end }}

{{ define "header-part" }}
{{ end }}

{{ define "app" }}
  <style nonce="{{ .nonce }}">
    select {
      font-size: 1.6rem;
    }

    .schedule-modal:target {
      display: flex;
      z-index: 5;
    }

    .schedule-modal:target ~ .content {
      pointer-events: none;
    }

    .grid {
      display: grid;
      grid-gap: .5rem;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      margin: .5rem;
    }

    .container {
      border: 1px solid var(--white);
      display: inline-flex;
      flex-direction: column;
      height: 20rem;
    }

    @media screen and (max-width: 424px) {
      .container {
        height: auto;
      }
    }

    .title {
      margin: 0;
      padding: 0;
    }

    .flex {
      display: flex;
    }

    .flex-center {
      align-items: center;
      justify-content: center;
    }

    .flex-grow {
      flex: 1 1;
    }

    .flex-wrap {
      flex-wrap: wrap;
    }

    .flex-half {
      flex-basis: 50%;
    }

    .flex-column {
      flex-direction: column;
    }

    .full {
      width: 100%;
    }

    .inline {
      display: inline-block;
    }

    .full-screen {
      max-width: 100vw;
    }

    .medium {
      font-size: 2.4rem;
    }

    .small {
      font-size: 1.6rem;
    }

    .padding-left {
      padding-left: 1rem;
    }

    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .relative {
      position: relative;
    }
  </style>

  {{ $root := . }}

  {{ range .Schedules }}
    {{ template "modal-schedule" . }}
  {{ end }}

  <div class="grid">
    <span class="container">
      <h3 class="header center no-margin">Global</h3>

      <div class="flex flex-center flex-grow flex-wrap margin-top margin-bottom">
        <form method="post" action="{{ url "/api/groups/" }}">
          <input type="hidden" name="method" value="PATCH"/>
          <input type="hidden" name="state" value="on"/>
          <button type="submit" class="button button-icon">
            <img class="icon icon-large" src="{{ url "/svg/power-off?fill=limegreen" }}" alt="power-on">
          </button>
        </form>

        <form method="post" action="{{ url "/api/groups/" }}" class="margin-left">
          <input type="hidden" name="method" value="PATCH"/>
          <input type="hidden" name="state" value="off"/>
          <button type="submit" class="button button-icon">
            <img class="icon icon-large" src="{{ url "/svg/power-off?fill=salmon" }}" alt="power-off">
          </button>
        </form>
      </div>
    </span>

    {{ if gt (len .Sensors) 0 }}
      {{ $sensorsEnabled := .Sensors.HasEnabled }}

      <span class="container">
        <h3 class="header center no-margin">Stealth mode</h3>

        <div class="center padding">
          <form class="inline" method="post" action="{{ url "" }}/api/sensors/all">
            <input type="hidden" name="method" value="PATCH"/>

            <button type="submit" class="button button-icon">
              {{ if $sensorsEnabled }}
                  <img class="icon icon-large" src="{{ url "/svg/toggle-on-reverse?fill=salmon" }}" alt="toggled off">
              {{ else }}
                  <img class="icon icon-large" src="{{ url "/svg/toggle-on?fill=limegreen" }}" alt="toggled on">
              {{ end }}
            </button>

            <input type="hidden" name="on" value="{{ if $sensorsEnabled }}false{{ else }}true{{ end }}"/>
          </form>
        </div>
      </span>
    {{ end }}

    {{ range .Groups }}
        {{ if not .Bridge }}
          <span class="container">
            <h3 class="header center no-margin {{ if .AnyOn }}success{{ end }}">{{ .Name }}</h3>

            <div class="flex flex-center flex-grow flex-wrap margin-top margin-bottom">
              {{ if .Plug }}
                <form method="post" action="{{ url "/api/groups/" }}{{ .ID }}">
                  <input type="hidden" name="method" value="PATCH"/>
                  <input type="hidden" name="state" value="on"/>
                  <button type="submit" class="button button-icon">
                    <img class="icon icon-large" src="{{ url "/svg/power-off?fill=limegreen" }}" alt="power-on">
                  </button>
                </form>

                <form method="post" action="{{ url "/api/groups/" }}{{ .ID }}" class="margin-left">
                  <input type="hidden" name="method" value="PATCH"/>
                  <input type="hidden" name="state" value="off"/>
                  <button type="submit" class="button button-icon">
                    <img class="icon icon-large" src="{{ url "/svg/power-off?fill=salmon" }}" alt="power-off">
                  </button>
                </form>
              {{ else }}
                <form class="center flex-half" method="post" action="{{ url "/api/groups/" }}{{ .ID }}">
                  <input type="hidden" name="method" value="PATCH"/>
                  <input type="hidden" name="state" value="on"/>
                  <button type="submit" class="button button-icon">
                    <img class="icon icon-large" src="{{ url "/svg/lightbulb?fill=limegreen" }}" alt="bright light">
                  </button>
                </form>

                <form class="center flex-half" method="post" action="{{ url "/api/groups/" }}{{ .ID }}"
                        class="margin-left">
                  <input type="hidden" name="method" value="PATCH"/>
                  <input type="hidden" name="state" value="half"/>
                  <button type="submit" class="button button-icon">
                    <img class="icon icon-large" src="{{ url "/svg/lightbulb?fill=gold" }}" alt="half light">
                  </button>
                </form>

                <form class="center flex-half" method="post" action="{{ url "/api/groups/" }}{{ .ID }}"
                        class="margin-left">
                  <input type="hidden" name="method" value="PATCH"/>
                  <input type="hidden" name="state" value="dimmed"/>
                  <button type="submit" class="button button-icon">
                    <img class="icon icon-large" src="{{ url "/svg/lightbulb?fill=lightyellow" }}" alt="dim light">
                  </button>
                </form>

                <form class="center flex-half" method="post" action="{{ url "/api/groups/" }}{{ .ID }}"
                        class="margin-left">
                  <input type="hidden" name="method" value="PATCH"/>
                  <input type="hidden" name="state" value="off"/>
                  <button type="submit" class="button button-icon">
                    <img class="icon icon-large" src="{{ url "/svg/moon?fill=silver" }}" alt="off light">
                  </button>
                </form>
              {{ end }}
            </div>
          </span>
      {{ end }}
    {{ end }}

    {{ range .Schedules }}
      <span class="container">
        <h3 class="header center no-margin">{{ .Name }}</h3>

        <div class="center flex flex-center">
          <form class="inline" method="post" action="{{ url "" }}/api/schedules/{{ .ID }}">
            <input type="hidden" name="method" value="PATCH"/>
            <input type="hidden" name="name" value="{{ .Name }}"/>
            <input type="hidden" name="status" value="{{ if eq .Status "enabled" }}disabled{{ else }}enabled{{ end }}"/>

            <button type="submit" class="button button-icon">
              {{ if eq .Status "enabled" }}
                  <img class="icon icon-large" src="{{ url "/svg/toggle-on?fill=limegreen" }}" alt="toggled on">
              {{ else }}
                  <img class="icon icon-large" src="{{ url "/svg/toggle-on-reverse?fill=salmon" }}" alt="toggled off">
              {{ end }}
            </button>
          </form>
        </div>

        <h4 class="center margin">
          <a href="#schedule-modal-{{ .ID }}" class="primary">{{ groupName $root.Groups .Command.GetGroup }}</a>
        </h4>

        <div class="center padding">
          <strong>{{ .FormatLocalTime }}</strong>
        </div>
      </span>
    {{ end }}

    {{ range .Sensors }}
      <span class="container">
        <h3 class="header center no-margin {{ if .Motion }}success{{ end }}">{{ .Name }} Sensor</h3>

        <div class="center padding">
          <form class="inline" method="post" action="{{ url "" }}/api/sensors/{{ .ID }}">
            <input type="hidden" name="method" value="PATCH"/>
            <input type="hidden" name="on" value="{{ if .Enabled }}false{{ else }}true{{ end }}"/>

            <button type="submit" class="button button-icon">
              {{ if .Enabled }}
                  <img class="icon icon-large" src="{{ url "/svg/toggle-on?fill=limegreen" }}" alt="toggled on">
              {{ else }}
                  <img class="icon icon-large" src="{{ url "/svg/toggle-on-reverse?fill=salmon" }}" alt="toggled off">
              {{ end }}
            </button>
          </form>

          <img class="icon icon-large" src="{{ url "/svg/" }}{{ battery .BatteryLevel }}" alt="{{ .BatteryLevel }}%"
               title="{{ .BatteryLevel }}%">
        </div>

        <div class="flex flex-center padding">
          <img class="icon icon-large" src="{{ url "/svg/" }}{{ temperature .Temperature }}" alt="Temperature">
          <strong>{{ .Temperature }}°c</strong>
        </div>
      </span>
    {{ end }}
  </div>
{{ end }}
