{{- define "dyson" -}}
  {{- range .Devices -}}
    <span class="container">
      <h2 class="small no-margin margin-left">Dyson</h2>
      <h3 class="header center no-margin">{{- .Name -}}</h3>

      {{- if .State -}}
        <div class="flex flex-center flex-wrap">
          <span class="flex flex-center flex-half padding">
            <span class="icon icon-small">
              <img src="/svg/{{- temperature .State.Temperature -}}">
            </span>
            <strong>{{- .State.Temperature -}}°c</strong>
          </span>

          <span class="flex flex-center flex-half padding">
            <span class="icon icon-small">
              <img src="/svg/{{- humidity .State.Humidity -}}">
            </span>
            <strong>{{- .State.Humidity -}}%</strong>
          </span>
        </div>
      {{- end -}}
    </span>
  {{- end -}}
{{- end -}}
