{{- define "netatmo" -}}
  <span class="container">
    <h2 class="header center no-margin">Weather</h2>
    {{- if len .Body.Devices -}}
      {{- range .Body.Devices -}}
        {{- range .Modules -}}
          <div class="flex flex-center flex-wrap">
            <div class="header center flex-full">{{- .ModuleName -}}</div>
            <span class="inline-block flex-half center padding">
              <strong>{{- .DashboardData.Temperature -}}°c</strong>
            </span>
            <span class="inline-block flex-half center padding">
              <strong>{{- .DashboardData.Humidity -}}%</strong>
            </span>
          </div>
        {{- end -}}
        <div class="flex flex-center flex-wrap">
          <div class="header center flex-full">{{- .StationName -}}</div>
          <span class="inline-block flex-half center padding">
            <strong>{{- .DashboardData.Temperature -}}°c</strong>
          </span>
          <span class="inline-block flex-half center padding">
            <strong>{{- .DashboardData.Humidity -}}%</strong>
          </span>
          <span class="inline-block flex-half center padding">
            <strong>{{- .DashboardData.Noise -}}dB</strong>
          </span>
          <span class="inline-block flex-half center padding">
            <strong>{{- .DashboardData.CO2 -}}ppm</strong>
          </span>
        </div>
      {{- end -}}
    {{- end -}}
  </span>
{{- end -}}
