{{- define "sonos" -}}
  <div style="width: 80px">
    {{- template "throbber" -}}
  </div>

  <script type="text/javascript">
    const sonosContainer = document.getElementById('sonos');

    let inputDebounce;

    /**
     * Update Sonos group Volume
     * @param  {String} groupId Group ID
     * @param  {Number} volume  Group volume
     */
    function updateSonosVolume(groupId, volume) {
      clearTimeout(inputDebounce);
      inputDebounce = setTimeout(() => {
        fetch(`/sonos/groups/${groupId}/volume`, {
          method: 'POST',
          body: volume,
          headers: {
            'Content-Type': 'text/plain;charset=utf8',
          },
        }).catch(e => console.error(e));
      }, 500);
    }

    /**
     * Initialize sonos input range.
     */
    function initSonosInputs() {
      document.querySelectorAll('[name="sonos-volume"]').forEach((range) => {
        range.addEventListener('input', (event) => {
          const volume = event.target.value;
          document.querySelector('[for="' + event.target.id +'"]').innerHTML = `Volume ${volume}`;

          updateSonosVolume(range.dataset.sonosGroupId, volume);
        })
      });
    }

    /**
     * Init sonos content.
     */
    function initSonosContent() {
      fetch(`/sonos/groups`, { method: 'GET' })
        .then(response => {
          if (response.status >= 400) {
            throw new Error(response);
          }

          return response.json();
        })
        .then((groups) => {
          const groupsContainers = groups.map(group => {
            const container = document.createElement('span');
            container.classList.add('container');

            const h2 = document.createElement('h2');
            container.appendChild(h2);
            h2.classList.add('header');
            h2.classList.add('center');
            h2.classList.add('no-margin');
            if (group.PlaybackState === 'PLAYBACK_STATE_PLAYING') {
              h2.classList.add('success');
            }
            h2.innerHTML = group.Name

            const div = document.createElement('div');
            container.appendChild(div);
            div.classList.add('flex');
            div.classList.add('flex-center');
            div.classList.add('flex-wrap');
            div.classList.add('padding');
            div.classList.add('full-height');

            const label = document.createElement('label');
            div.appendChild(label);
            label.htmlFor = `sonos-volume-${group.ID}`;
            label.innerHTML = `Volume ${group.Volume.Volume}`;

            const input = document.createElement('input');
            div.appendChild(input);
            input.type = 'range';
            input.id = `sonos-volume-${group.ID}`;
            input.name = 'sonos-volume';
            input.min = 0;
            input.max = 100;
            input.step = 1;
            input.value = group.Volume.Volume;
            input.dataset.sonosGroupId = group.ID;

            return container;
          });

          while (sonosContainer.firstChild) {
            sonosContainer.removeChild(sonosContainer.firstChild);
          }

          groupsContainers.forEach(e => sonosContainer.appendChild(e));
          initSonosInputs();
        })
        .catch(e => console.error(e));
    }

    initSonosContent();
  </script>
{{- end -}}
