{{- define "sonos" -}}
  {{- if len . -}}
    {{- range . -}}
      {{- range .Groups -}}
        <span class="container">
          <h2 class="small no-margin margin-left">Sonos</h2>
          <h3 class="header center no-margin {{- if eq .PlaybackState "PLAYBACK_STATE_PLAYING" }} success{{- end -}}">{{- .Name -}}</h3>

          <div class="flex flex-center flex-wrap padding full-height">
            <label for="sonos-volume-{{- .ID -}}">Volume {{ .Volume.Volume -}}</label>
            <input id="sonos-volume-{{- .ID -}}" type="range" name="sonos-volume" min="0" max="100" step="1" value="{{- .Volume.Volume -}}" data-sonos-group-id="{{- .ID -}}" />

            <form method="post" action="/sonos/groups/{{ .ID }}/mute">
              <input type="hidden" name="method" value="POST" />
              <button type="submit" class="button-icon">
                {{- if .Volume.Muted }}
                  <img src="/svg/volume-down?fill=silver" alt="unmute">
                {{ else }}
                  <img src="/svg/mute?fill=silver" alt="mute">
                {{ end }}
              </button>
            </form>
          </div>
        </span>
      {{- end -}}
    {{- end -}}
  {{- end -}}

  <script type="text/javascript">
    const sonosContainer = document.getElementById('sonos');

    let inputDebounce;

    /**
     * Update Sonos group Volume
     * @param  {String} groupId Group ID
     * @param  {Number} volume  Group volume
     */
    function updateSonosVolume(groupId, volume) {
      clearTimeout(inputDebounce);
      inputDebounce = setTimeout(() => {
        fetch(`/sonos/groups/${groupId}/volume`, {
          method: 'POST',
          body: volume,
          headers: {
            'Content-Type': 'text/plain;charset=utf8',
          },
        }).catch(e => console.error(e));
      }, 500);
    }

    /**
     * Initialize sonos input range.
     */
    function initSonosInputs() {
      document.querySelectorAll('[name="sonos-volume"]').forEach((range) => {
        range.addEventListener('input', (event) => {
          const volume = event.target.value;
          document.querySelector('[for="' + event.target.id +'"]').innerHTML = `Volume ${volume}`;

          updateSonosVolume(range.dataset.sonosGroupId, volume);
        })
      });
    }

    initSonosInputs();
  </script>
{{- end -}}
