{{- define "style-modal" -}}
  <style>
    {{- if .Hue -}}
      {{- range $id, $schedule := .Hue.Schedules -}}
        #hue-delete-schedule-{{- sha $schedule -}},
      {{- end -}}
    {{- end -}}
    #modal {
      display: none;
    }

    {{- if .Hue -}}
      {{- range $id, $schedule := .Hue.Schedules -}}
        #hue-delete-schedule-{{- sha $schedule -}}:target,
      {{- end -}}
    {{- end -}}
    #modal:target {
      display: flex;
    }

    {{- if .Hue -}}
      {{- range $id, $schedule := .Hue.Schedules -}}
        #hue-delete-schedule-{{- sha $schedule -}}:target ~ .content,
      {{- end -}}
    {{- end -}}
    #modal:target ~ .content {
      filter: blur(1rem);
      pointer-events: none;
    }
  </style>
{{- end -}}
