{{- define "style" -}}
  <style>
    * {
      box-sizing: border-box;
    }

    html {
      font-size: 62.5%;
    }

    body {
      -webkit-overflow-scrolling: touch;
      background-color: var(--dark);
      height: 100vh;
    }

    body,
    button,
    input {
      color: var(--white);
      font-family:
        -apple-system,
        'Segoe UI',
        'Roboto',
        'Oxygen-Sans',
        'Ubuntu',
        'Cantarell',
        'Helvetica Nue',
        sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
    }

    a {
      color: var(--white);
      text-decoration: none;
    }

    a:hover {
      color: var(--primary);
      text-decoration: underline;
    }

    .header {
      background-color: var(--grey);
      margin-top: 0;
      padding: 0.5rem 1rem;
      text-align: left;
    }

    .grid {
      display: grid;
      grid-gap: .5rem;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      margin: .5rem;
    }

    .container {
      border: 1px solid var(--white);
      display: inline-flex;
      flex-direction: column;
      height: 25rem;
    }

    @media screen and (max-width: 424px) {
      .container {
        height: auto;
      }
    }

    .title {
      margin: 0;
      padding: 0;
    }

    .message {
      margin: 0;
      padding: 1rem 2rem;
      text-align: center;
    }

    .flex {
      display: flex;
    }

    .flex-center {
      align-items: center;
      justify-content: center;
    }

    .flex-grow {
      flex: 1 1;
    }

    .flex-column {
      flex-direction: column;
    }

    .center {
      text-align: center;
    }

    .full {
      width: 100%;
    }

    .full-screen {
      max-width: 100vw;
    }

    .medium {
      font-size: 2.4rem;
    }

    .small {
      font-size: 1.6rem;
    }

    .padding {
      padding: 1rem;
    }

    .no-padding {
      padding: 0;
    }

    .padding-left {
      padding-left: 1rem;
    }

    .no-margin {
      margin: 0;
    }

    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .relative {
      position: relative;
    }

    @media print {
      body::after {
        content: 'Save ink, share link. https://iot.vibioh.fr';
      }

      body > * {
        display: none !important;
      }
    }
  </style>
{{- end -}}
