{{- define "style-modal" -}}
  <style type="text/css">
    {{- range $id, $schedule := .Hue.Schedules -}}
      #hue-delete-schedule-{{- sha $schedule -}},
    {{- end -}}
    #new-schedule {
      display: none;
    }

    {{- range $id, $schedule := .Hue.Schedules -}}
      #hue-delete-schedule-{{- sha $schedule -}}:target,
    {{- end -}}
    #new-schedule:target {
      display: flex;
    }

    {{- range $id, $schedule := .Hue.Schedules -}}
      #hue-delete-schedule-{{- sha $schedule -}}:target ~ .content,
    {{- end -}}
    #new-schedule:target ~ .content {
      filter: blur(1rem);
      pointer-events: none;
    }
  </style>
{{- end -}}
