{{- define "style" -}}
  <style>
    :root {
      --primary: royalblue;
      --success: limegreen;
      --danger: crimson;
      --dark: #272727;
      --grey: #3b3b3b;
      --white: silver;
    }

    * {
      box-sizing: border-box;
    }

    html {
      font-size: 62.5%;
    }

    body {
      -webkit-overflow-scrolling: touch;
      background-color: var(--dark);
      height: 100vh;
    }

    body,
    button,
    input {
      color: var(--white);
      font-family:
        -apple-system,
        'Segoe UI',
        'Roboto',
        'Oxygen-Sans',
        'Ubuntu',
        'Cantarell',
        'Helvetica Nue',
        sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
    }

    .header {
      background-color: var(--grey);
      padding: 0.5rem 1rem;
    }

    .grid {
      display: grid;
      grid-gap: .5rem;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      margin: .5rem;
    }

    .container {
      border: 1px solid var(--white);
      display: inline-flex;
      flex-direction: column;
      height: 25rem;
    }

    @media screen and (max-width: 424px) {
      .container {
        height: auto;
      }
    }

    .title {
      margin: 0;
      padding: 0;
    }

    .button {
      border-radius: 4px;
      border: 0;
      padding: 1rem;
      text-decoration: none;
    }

    .icon {
      background-color: transparent;
      border: 0;
      margin: 0;
      padding: 0;
    }

    .icon img {
      height: 5rem;
    }

    .icon-small img {
      height: 2.5rem;
      margin-right: 4px;
      width: 2.5rem;
    }

    .bg-important {
      background-color: var(--primary);
      color: var(--white);
    }

    .message {
      margin: 0;
      padding: 1rem 2rem;
      text-align: center;
    }

    .flex {
      display: flex;
    }

    .flex-full {
      flex: 1 1;
      flex-basis: 100%;
    }

    .flex-center {
      align-items: center;
      justify-content: center;
    }

    .flex-grow {
      flex-grow: 1;
    }

    .flex-evenly {
      justify-content: space-evenly;
    }

    .success {
      color: var(--success);
    }

    .danger {
      color: var(--danger);
    }

    .clear {
      color: var(--white);
    }

    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .small {
      font-size: 1.5rem;
    }

    .full {
      width: 100%;
    }

    .center {
      text-align: center;
    }

    .inline {
      display: inline-block;
    }

    .padding {
      padding: 1rem;
    }

    .no-margin {
      margin: 0;
    }

    .margin-top {
      margin-top: 1rem;
    }

    .margin-bottom {
      margin-bottom: 1rem;
    }

    .margin-left {
      margin-left: 1rem;
    }

    .no-style,
    .no-style:active,
    .no-style:visited,
    .no-style:focus {
      outline: none;
      text-decoration: none;
    }

    @media print {
      body::after {
        content: 'Save ink, share link. https://iot.vibioh.fr';
      }

      body > * {
        display: none !important;
      }
    }
  </style>
{{- end -}}
