{{- define "throbber" -}}
  <div class="throbber">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
{{- end -}}

{{- define "style-throbber" -}}
  <style type="text/css">
    .throbber {
      margin: auto;
      text-align: center;
    }

    .throbber > div {
      animation: scaleBounce 1.4s infinite ease-in-out both;
      background-color: dimgrey;
      border-radius: 100%;
      display: inline-block;
      height: 1rem;
      width: 1rem;
    }

    .throbber .bounce1 {
      animation-delay: -0.32s;
    }

    .throbber .bounce2 {
      animation-delay: -0.16s;
    }

    @keyframes scaleBounce {
      0%,
      80%,
      100% {
        transform: scale(0);
      }

      40% {
        transform: scale(1);
      }
    }
  </style>
{{- end -}}
